<h1>New Exhibits</h1>

<table style="table-border: 10px;">
  <tr>
    <th>Qrcode</th>
    <th></th>
  </tr>

<% @qr_codes.each do |qr_code| %>
  <% if qr_code.is?(:new) %>
    <tr>
      <td><%= qr_code.qrcode %></td>
      <td><%= link_to 'Create Exhibit', new_museum_exhibit_path(Museum.first.id, qrcode: qr_code.qrcode) %></td>
    </tr>
  <% end %>
<% end %>
</table>
