<nav>
  <ul class="nav nav-pills">
    <li>
      <%= link_to 'Home'%>
    </li>
    <% unless user_signed_in?%>
          <li>
              <%= link_to "Sign out"%>
          </li>
    <% else %>
          <li>    
            <%= link_to "Sign in" %>
          </li>
    <% end %>

    <li>
      <%= link_to "Sign up" %>
    </li>

  </ul>
</nav>

