<nav class="main-menu">
  <ul>
    <% if user_signed_in? %>
      <% unless current_user.profile.role == "admin" %>
      <li>
        <%= link_to "Account", edit_user_registration_path %>
      </li><li>
        <%= link_to "Achievements", achievements_path %>
      </li><li>
        <%= link_to "Museums", museums_path %>
      </li><% end %><li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
  </ul>
</nav>
