<div class="row title-step">
	    <div class="span12">
	      <p>Discover the mistery of ancient world </p>
	    </div>
</div>

<div class="row step1">
	    <div class="span8 offset4">
	      <h1>SCAN!</h1>
	      <p>In each compatible museum you can find a QR code printed next to the exibit. You can easily open Mooseum app and scan the code. </p>
	    </div>
</div>

<div class="row step2">
  <div class="span8 offset4">
    <h1>LISTEN!</h1>
    <p>After you scan the code you can listen to the exibit description and find out more informations about it.</p>
  </div>
</div>

<div class="row step3">
  <div class="span8 offset4">
    <h1>LEARN MORE ABOUT IT!</h1>
    <p>This is a great app to learn more in a new interactional way!</p>
  </div>
</div>