<div class="span5">
	<h1>
		Welcome Admin !
	</h1>
</div>

<div class="span9">

  <nav>
    <ul class="nav nav-pills">
      <li>
  		<%= link_to "Achievements", achievements_path %>
      </li><li>
  		<%= link_to "Museums", museums_path %>
      </li><li>
  		<%= link_to "Users", reset_path %>
      </li><li>
  		<%= link_to "Profile",  profiles_path %>
      </li>
    </ul>
  </nav>


</div>