<nav>
	<% @museum.each do |museum| %>
		<% if museum.manager_id == @user.profile.id %>		
			<p>
				<%= museum.name %> <%= link_to "Manage", edit_museum_path(museum.id) %>
			</p>
		<% end %>
	<% end %>
	<p>
		<br /><%= link_to "New Museum", new_museum_path %>
	</p>
	<p>
		<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	</p>
</nav>

