<nav>
	<p>
		<%= link_to "Achievements", achievements_path %>
	</p>
	<p>
		<%= link_to "Museums", museums_path %>
	</p>
	<p>
		<%= link_to "Users", reset_path %>
	</p>
	<p>
		<%= link_to "Profile",  profiles_path %>
	</p>
</nav>