<p>
  <h1>Hello World !</h1>


  <h3> Go to : </h3>

  <ul>
  	<li>
       <%= link_to "Sign In", new_user_session_path %>  
    </li>
  	<li>
       <%= link_to "Sign Up", new_user_registration_path %>  
    </li>
  </ul>
  </ul>
</p>

