<h1>Museums</h1>

<table class="table table-striped  table-hover">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @museums.each do |museum| %>
  <tr>
    <td><%= museum.name %></td>
    <td id="show"><%= link_to 'Show', museum %></td>
  </tr>
<% end %>

</table>

<br>

<% if current_user.profile.role != 'user' %>
<%= link_to 'New Museum', new_museum_path %>
<% end %>