<h1>Museums</h1>

<table>
  <tr>
    <th>Name</th>


  </tr>

<% @museums.each do |museum| %>
  <tr>


    <td><%= museum.name %></td>
    <td><%= link_to 'Show', museum %></td>

  </tr>
  <tr>
    <td colspan="3">
      <%= link_to 'Show', museum %> |
      <% if current_user.profile.role != 'user'%>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>

<% end %>
</table>

<br />
<% if current_user.profile.role != 'user' %>
<%= link_to 'New Museum', new_museum_path %>
<% end %>