body {
  font-family: "Open Sans", Helvetica, Arial;
  width: 100%;
  height: 100%;
  color:white;
}

h1, h2 {
  margin-top: 0;
}

hr {
  border-top: none;
}

html.simple body {
  background-image: url("tapet.png");
  background-size: 10%;
  background-repeat: repeat;
  color:black;
}

html.simple a {
  color: #a94c4c;
}

html.simple a:hover {
  text-decoration: underline;
}

html.exhibit body {
  font-family: "Open Sans";
  background-image: url("background.jpg");
  background-size: cover;

  h2 {
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 36px;
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
  }

  h3 {
    font-weight: 200;
    font-size: 18px;
    margin-top: -23px;
  }

  p#showdescription {
    line-height: 28px;
    margin-top: 30px;
    text-align: justify;
  }

  #notification {
    background-color: #6b9f52;
    text-align: center;
    border-bottom: 3px solid white;
    height: 32px;


    p {
      font-size: 14px;
      line-height: 32px;
      margin-top: 0;

      img {
        float: left;
        margin-left: 20px;
        margin-top: 2px;
      }

      a#download {
        background-color: white;
        padding: 2px 20px;
        border-radius: 5px;
        color: #6b9f52;
        margin-left: 20px;

        &:hover {
          background-color: #f0f0f0;
        }
      }

      a#hide-button {
        color: #d0d0d0;
        font-size: 12px;
        float: right;
        margin-right: 20px;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }

    a#show-button {
      opacity: 0;
      font-size: 12px;
      float: right;
      line-height: 28px;
      background-color: white;
      padding: 0 8px;
      border-bottom-left-radius: 5px;
      color: #6b9f52;

      &:hover {
        text-decoration: none;
      }
    }

  }

  img#download-arrow {
    padding: 0px 10px 0px 0px;
    border-right: 1px solid green;
    height: 50px;
  }

}

header {
  height: 60px;
  padding: 15px 0;
}

html.simple header {
  height: 20px;
}

footer p {
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  color: #d0d0d0;
  text-shadow: 0px 0px 4px #000;
}

html.simple footer p {
  margin-top: 20px;
  color: #a94c4c;
  text-shadow: none;
}

html.simple footer hr {
  display: none;
}

html.home footer p {
  margin-top: 20px;
  color: #8C3F3F;
  text-shadow: 0px 0px 1px #000;
}

html.home a.logo {
  background: url("logo.png") no-repeat scroll left top transparent;
  color: black;
  display: block;
  font-size: 36px;
  font-weight: 200;
  height: 168px;
  text-indent: -9999px;
  width: 300px;
  margin:30px 180px;
}

html.home a.logo:hover {
  background-image: url("logo hover.png");
  text-decoration: none;
  color:#a94c4c;
}

nav.main-menu {
  float: right;
}

nav.main-menu ul li {
  display: inline-block;
}

nav.main-menu ul li a {
  color: white;
  text-shadow: 0px 0px 4px #000;
  border-bottom: 1px solid white;
  padding: 5px 20px;
}

nav.main-menu ul li a:hover, nav.main-menu ul li.active a {
  text-decoration: none;
  border-bottom: 2px solid #a94c4c;
}

html.simple nav ul.nav li {
  border-radius: 5px;
  background-color: #a94c4c;
  margin: 20px;
}

html.simple nav ul.nav li a {
  color: white;
  background-color: #a94c4c;
  padding: 10px 10px;
}

html.simple nav ul.nav li a:hover, html.simple nav ul.nav li.active a {
  text-decoration: none;
  background-color: #E06565;
}

html.simple table.table-hover {
  width: 880px;
}

html.home-user table.table-hover {
  width: 880px;
  background-color: #FCFCFC;
}

html.simple table.table-hover tbody tr:hover td, html.home-user table.table-hover tbody tr:hover td {
  background-color: #f1e7e7;
}

html.simple table td#show a, html.home-user table td#show a {
  float: right;
}

html.simple p#showdescription {
  padding-right: 30px;
}

div.content-box-outer {
  border: 10px solid #f3e7e7;
}

div.content-box {
  background-color: #ededed;
  border: 1px solid #bbb;
  margin: 0;
  padding: 15px 0;
}

html.home-user div.user-box {
  margin:50px auto;
  border-width: 5px;
  border-color: #a94c4c;
  box-shadow:0px 0px 5px 50px rgba(255,255,255,0.8);
  background-color: white;
  color: #a94c4c;
  background-color: rgba(255,255,255,0.8);
}

img#phone {
  max-height: 500px;
  position:absolute;
  margin: 70px -40px;
}

img#appstore, img#googleplay{
  height: 50px;
  width: 150px;
  padding:0 190px;
}

img#facebook, img#twitter{
  height: 50px;
  width: 50px;
  float: right;
}

div.signbox {
  height:300px;
  width:350px;
  padding:0px 10px;
  margin: 50px 120px;
  border-width: 5px;
  border-color: #a94c4c;
  box-shadow:0px 0px 5px 50px rgba(255,255,255,0.8);
  background-color: white;
  color: #a94c4c;
  background-color: rgba(255,255,255,0.8);
}


div.signbox form {
  display: block;
  width: 200px;
}

div.signbox a {
  color: #a94c4c;
}

div.signout a {
  float:right;
}

.description1{
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  width:700px;
  height:170px;
}

.description2{
  font-size: 20px;
  font-weight: 100;
  height: 60px;
}
.carousel-tot{
  background-image: url("phone.png");
  height: 490px;
  width: 250px;
  margin:50px -20px;
}

.carousel-indicators{
  top: 460px;
  right: 105px;
}

.carousel-inner {
  width: 228px;
  height: 399px;
  border-radius: 3px 3px 3px 3px;
}

.carousel{
  padding: 46px 10px;
}

.background-down{
  background-color:#F4F2FF;
  color:black;
}

.background-down div.row{
  padding-top:10px;
}

.title-step p{
  font-size:49px;
  height:70px;
  color:#490063;
  line-height: 50px;
}

.step1{
  background-image: url("b1.png");
  height:330px;
  color:#490063;
  font-size:30px;
  float:right;
  line-height: 30px;
  background-repeat: no-repeat;
}
.step2{
  background-image: url("b2.png");
  height:330px;
  color:#490063;
  font-size:30px;
  float:right;
  line-height: 30px;
  background-repeat: no-repeat;
}
.step3{
  background-image: url("b3.png");
  height:330px;
  color:#490063;
  font-size:30px;
  float:right;
  line-height: 30px;
  background-repeat: no-repeat;
}

.step1 h1, .step2 h1, .step3 h1{
  font-weight: normal;
  padding-top:20px;
}

.step1 p, .step2 p, .step3 p{
  color:black;
  font-size:20px;
  line-height:25px;
  margin-left: -30px;
  padding-top:40px;
}

img#exhibit-img {
  float: right;
  margin-top: 26px;
  margin-left: 20px;
}

img#exhibit-img-admin {
  margin-top: 26px;
  margin-left: 20px;
}

p#social-icons {
  text-align: center;
}

p#social-icons a {
  img {
    margin: 0 10px;
  }
}

div#language{
  img{
    height: 20px;
    width: 30px;
    float: left;
    padding-right: 2px;

    &:hover {
      height: 23px;
      width: 35px;
    }
  }
}

@media all and (max-width: 770px) {
  body{
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 92%;
  }

  html.exhibit body {
    #notification {
      height: 20%;

      p {
        line-height: 22px;

        img {
          margin-left: 5px;
        }

        a#download {
          position: inherit;
          display: block;
          margin: 5px auto 0px auto;
          width: 50%;
        }

        a#hide-button {
          margin-right: 20px;
          margin-top: 10px;
        }
      }
    }
  }

  p#social-icons a {
    img {
      margin: 35px 10px;
    }
  }

  div.text-center{
    a{
      margin-top: 30px;
    }
  }
}

@media all and (max-width: 405px) {
  body{
    max-width: 87%;
  }
}

@media all and (max-width: 370px) {
 /* Aici trebuie modificat buttonul de jos de download pentru ca arata ca fanul ! - David */
}

@media all and (max-width: 255px) {
  body{
    max-width: 84%;
  }
}