html
{
	background-image:url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-style: Helvetica,Arial,sans-serif;
}

body{
	background-color: transparent;
}

li{
	border-radius: 10px;
}

nav{
	float:right;
}
